<div>
  <ion-view class="arkaplan">
    <div>
      <ion-content class="padding">
        <div class="logoKayit">
          <p><img src="img/operics.png" style="margin: auto;" alt=""></p>
        </div>

        <div class="bayrakDiv">
          <ul class="images">
            <!-- Inline styles added for demonstration purposes only. -->
            <li><img src="../img/uk.png" alt=""></li>
            <li><img src="../img/germany.png" alt=""></li>
            <li><img src="../img/turkey.png" alt=""></li>
          </ul>

        </div>

        <div class="labeldiv">
          <label class="item-input-wrapper label">
            <i class="icon ion-ios-person placeholder-icon"></i>
            <input type="text" placeholder="İsim" ngModel="" class="arkaplan">
          </label>
        </div>

        <div class="labeldiv">
          <label class="item-input-wrapper label">
            <i class="icon ion-ios-telephone placeholder-icon"></i>
            <input type="number" placeholder="Telefon" ngModel="" class="arkaplan">
          </label>
        </div>

        <div class="labeldiv">
          <label class="item-input-wrapper label">
            <i class="icon ion-ios-person placeholder-icon"></i>
            <input type="password" placeholder="Şifre" ngModel="" class="arkaplan">
          </label>
        </div>

        <div class="labeldiv">
          <label class="item-input-wrapper label">
            <i class="icon ion-key placeholder-icon"></i>
            <input type="password" placeholder="Şifre" ngModel="" class="arkaplan">
          </label>
        </div>

        <div class="labeldiv">
          <label class="item-input-wrapper label">
            <i class="icon ion-key placeholder-icon"></i>
            <input type="email" placeholder="Email" class="arkaplan">
          </label>
        </div>




        <div class="butonDivKayit" style="margin-top: 15px;">
          <button class="buttonKayit" ng-click="kayitOl()">
            <h4 style="color: white; text-align: center">Kayıt Ol</h4>
          </button>
        </div>

        <div id="sifremiUnuttum">
          <p> <a id="sifremiUnuttumYazi" href="">Şifremi Unuttum</a> </p>
        </div>




      </ion-content>
  </ion-view>
</div>
</div>
