<div >

<ion-view class="arkaplan">
  <ion-content class="padding">
     <div class="ortala">
      <p ><img src="img/operics.png" alt=""></p>
    </div>
    
    <div class="label">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-person placeholder-icon"></i>
    <input style= "margin-left: 5px;" type="search" placeholder=" simiz@mailadresi.com" class="arkaplan"  >
  </label>
</div>

<div class="label">
  <label >
    <i class="ion-icon name="heart></ion-icon></i>
    <input type="search" placeholder=" **********" class="arkaplan"  >
  </label>
</div>

<div class="butondiv">
<button class="button buton" >
  <h4 style="color:white; text-align: center">Giriş Yap</h4>
</button>
</div>




  </ion-content>
</ion-view>
</div>

