/* Empty. Add your own CSS if you like */
.arkaplan {
  background-color: rgb(242, 242, 242);
}

/* LOGIN SAYFASI */
.logo {
  width: 250px;
  height: 100px;
  display: table;
  position: relative;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
  margin-top: 80px;
}

.label {

  width: 250px;
  height: 45px;
  border: 1px solid grey;
  /* -webkit-border-radius: 10px; */
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 50px;
  margin-bottom: 5px;
  background-color: rgb(242, 242, 242);

  /* overflow: visible; */
}

.butonDiv {
  width: 250px;
  height: 50px;
  display: table;
  position: relative;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
}

.button {
  background-color: black;
  width: 250px;
  border: 0.5px solid black;
  border-radius: 20px;
}

#sifremiUnuttum {
  margin: auto;
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;

}

#sifremiUnuttumYazi {
  text-decoration: none;
  /* list-style-type: none; */
  color: black;
}

/* KAYIT SAYFASI */

.logoKayit {
  width: 250px;
  height: 60px;
  display: table;
  position: relative;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
}

.labelKayit {

  width: 250px;
  height: 45px;
  border: 1px solid grey;
  /* -webkit-border-radius: 10px; */
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 50px;
  margin-bottom: 5px;
  background-color: rgb(242, 242, 242);

  /* overflow: visible; */
}

.butonDivKayit {
  width: 250px;
  height: 50px;
  display: table;
  position: relative;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
}

.buttonKayit {
  width: 250px;
  background-color: black;
  border: 0.5px solid black;
  border-radius: 20px;
}

.bayrakDiv {}

ul.images {
    margin: auto;
    padding: 0;
    white-space: nowrap;
    width: 250px;
    overflow-x: auto;
  }
  
  ul.images li {
    display: inline-block;
    width: 70px;
    height: 60px;
    
  }
  ul.images li img{
      width: 70px;
      height: 60px;
  }